<footer class="footer mt-auto">
  <div class="f-info">
    <div class="f-info-socials">
      <a href="#" class="social-link"><i class="fa-brands fa-facebook"></i></a>
      <a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a>
      <a href="#" class="social-link"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand">&copy; 2025 Hostara Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy" class="footer-link">Privacy</a>
      <a href="/terms" class="footer-link">Terms</a>
      <a href="/support" class="footer-link">Support</a>
    </div>
  </div>
</footer>
